/* SPDX-FileCopyrightText: 2025 Dyne.org foundation */
/* SPDX-License-Identifier: GPL-3.0-or-later */

#navrow1 {
    display: none;
}
.headertitle {
	display: none;
}
div.header {
    display: none;
}
a, .contents a:visited {
	color: #11e0ff;
	font-weight: bold;
}

div#main-nav {
	display: none;
}

.sm-dox {
    display: none;
}
.sm {
    display: none;
}
/* Make images responsive */
img {
    max-width: 100%;
    height: auto;
}
